In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [2]:
import numpy as np 
import os

import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\kisho\OneDrive\Desktop\All semesters\Innomatics #405\2_EDA\Pandas_Modifcation_Q&A_Task_110825\deliveries.csv")
df

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [4]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [5]:
print(df.shape)

(179078, 21)

In [6]:
print(df.columns)

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [7]:
print(df.index)

RangeIndex(start=0, stop=179078, step=1)

In [8]:
print(df.dtypes)

match_id             int64
inning               int64
batting_team        object
bowling_team        object
over                 int64
ball                 int64
batsman             object
non_striker         object
bowler              object
is_super_over        int64
wide_runs            int64
bye_runs             int64
legbye_runs          int64
noball_runs          int64
penalty_runs         int64
batsman_runs         int64
extra_runs           int64
total_runs           int64
player_dismissed    object
dismissal_kind      object
fielder             object
dtype: object

In [9]:
print(len(df))

179078

In [10]:
print(df.size)

3760638

In [11]:
df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [12]:
df.tail()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [13]:
df.head(3)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [14]:
df.tail(3)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int64
 1   inning            179078 non-null  int64
 2   batting_team      179078 non-null  object
 3   bowling_team      179078 non-null  object
 4   over              179078 non-null  int64
 5   ball              179078 non-null  int64
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int64
 10  wide_runs         179078 non-null  int64
 11  bye_runs          179078 non-null  int64
 12  legbye_runs       179078 non-null  int64
 13  noball_runs       179078 non-null  int64
 14  penalty_runs      179078 non-null  int64
 15  batsman_runs      179078 non-null  int64
 16  extra_runs        179078 non-null  int64
 17  total_runs        179078 non-null  int64
 18  player_dismissed  8834 non-null    object
 19  dismissal_kind    8834 non-null    object
 20  fielder           6448 non-null    object
dtypes: int64(13), object(8)
memory usage: 28.7+ MB

In [16]:
df.describe()

,match_id,inning,over,ball,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs
count,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000
mean,1802.252957,1.482952,10.162488,3.615587,0.000452,0.036721,0.004936,0.021136,0.004183,0.000056,1.246864,0.067032,1.313897
std,3472.322805,0.502074,5.677684,1.806966,0.021263,0.251161,0.116480,0.194908,0.070492,0.016709,1.608270,0.342553,1.605422
min,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,190.000000,1.000000,5.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,379.000000,1.000000,10.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
75%,567.000000,2.000000,15.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
max,11415.000000,5.000000,20.000000,9.000000,1.000000,5.000000,4.000000,5.000000,5.000000,5.000000,7.000000,7.000000,10.000000

In [17]:
df.describe(include=np.object_)

,batting_team,bowling_team,batsman,non_striker,bowler,player_dismissed,dismissal_kind,fielder
count,179078,179078,179078,179078,179078,8834,8834,6448
unique,15,15,516,511,405,487,9,499
top,Mumbai Indians,Mumbai Indians,V Kohli,SK Raina,Harbhajan Singh,SK Raina,caught,MS Dhoni
freq,22619,22517,4211,4173,3451,162,5348,159

In [18]:
df.describe(include=int)

,match_id,inning,over,ball,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs
count,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000
mean,1802.252957,1.482952,10.162488,3.615587,0.000452,0.036721,0.004936,0.021136,0.004183,0.000056,1.246864,0.067032,1.313897
std,3472.322805,0.502074,5.677684,1.806966,0.021263,0.251161,0.116480,0.194908,0.070492,0.016709,1.608270,0.342553,1.605422
min,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,190.000000,1.000000,5.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,379.000000,1.000000,10.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
75%,567.000000,2.000000,15.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
max,11415.000000,5.000000,20.000000,9.000000,1.000000,5.000000,4.000000,5.000000,5.000000,5.000000,7.000000,7.000000,10.000000

In [23]:
df.describe(include='all')

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
count,179078.000000,179078.000000,179078,179078,179078.000000,179078.000000,179078,179078,179078,179078.000000,...,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,8834,8834,6448
unique,NaN,NaN,15,15,NaN,NaN,516,511,405,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,487,9,499
top,NaN,NaN,Mumbai Indians,Mumbai Indians,NaN,NaN,V Kohli,SK Raina,Harbhajan Singh,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SK Raina,caught,MS Dhoni
freq,NaN,NaN,22619,22517,NaN,NaN,4211,4173,3451,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,162,5348,159
mean,1802.252957,1.482952,NaN,NaN,10.162488,3.615587,NaN,NaN,NaN,0.000452,...,0.004936,0.021136,0.004183,0.000056,1.246864,0.067032,1.313897,NaN,NaN,NaN
std,3472.322805,0.502074,NaN,NaN,5.677684,1.806966,NaN,NaN,NaN,0.021263,...,0.116480,0.194908,0.070492,0.016709,1.608270,0.342553,1.605422,NaN,NaN,NaN
min,1.000000,1.000000,NaN,NaN,1.000000,1.000000,NaN,NaN,NaN,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
25%,190.000000,1.000000,NaN,NaN,5.000000,2.000000,NaN,NaN,NaN,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
50%,379.000000,1.000000,NaN,NaN,10.000000,4.000000,NaN,NaN,NaN,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,NaN,NaN,NaN
75%,567.000000,2.000000,NaN,NaN,15.000000,5.000000,NaN,NaN,NaN,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,NaN,NaN,NaN
max,11415.000000,5.000000,NaN,NaN,20.000000,9.000000,NaN,NaN,NaN,1.000000,...,4.000000,5.000000,5.000000,5.000000,7.000000,7.000000,10.000000,NaN,NaN,NaN

## IPL Data Analysis Questions & Answers

### 1. How many unique batsmen are there?

In [25]:
uniqueBatsmen = df['batsman'].nunique()
print("The no.of Unique batsmen are :", uniqueBatsmen)

The no.of Unique batsmen are : 516

### 2. What is the total number of extra runs in IPL history?

In [42]:
extra_runs_total = df['extra_runs'].sum()
print("the total number of extra runs in IPL history is:", extra_runs_total)

the total number of extra runs in IPL history is: 12004

### 3. What is the total number of runs scored in IPL history?

In [43]:
runs_total = df['total_runs'].sum()
print("the total number of runs scored in IPL history is :", runs_total)

the total number of runs scored in IPL history is : 235290

### 4. What are the different types of dismissals, their counts, and percentages?

In [45]:
dismissals_types = df['dismissal_kind'].value_counts()
dismissals_percentages = round((dismissals_types / dismissals_types.sum()) * 100, 2)

print("the different types of dismissals, their counts, and percentages are :")
print("=="*40)
print()

for i in dismissals_types.index:
    print(f"{i}: {dismissals_types[i]} ({dismissals_percentages[i]}%)")

the different types of dismissals, their counts, and percentages are :
================================================================================

caught: 5348 (60.54%)
bowled: 1581 (17.9%)
run out: 852 (9.64%)
lbw: 540 (6.11%)
stumped: 278 (3.15%)
caught and bowled: 211 (2.39%)
retired hurt: 12 (0.14%)
hit wicket: 10 (0.11%)
obstructing the field: 2 (0.02%)

### 5. Show records where total runs in a ball are more than 6.

In [41]:
runs_more_than_6 = df[df['total_runs'] > 6]
print("Records where total runs in a ball are more than 6 :", len(runs_more_than_6))

Records where total runs in a ball are more than 6 : 118

### 6. Show only batsman, batting_team, bowling_team, and bowler where runs > 6 in a ball.

In [49]:
columns_new = runs_more_than_6[['batsman', 'batting_team', 'bowling_team', 'bowler']]
columns_new.head()

,batsman,batting_team,bowling_team,bowler
2443,DA Miller,Kings XI Punjab,Kolkata Knight Riders,C de Grandhomme
5853,DA Warner,Sunrisers Hyderabad,Rising Pune Supergiant,Imran Tahir
11616,MJ Guptill,Kings XI Punjab,Mumbai Indians,SL Malinga
11691,SE Marsh,Kings XI Punjab,Mumbai Indians,MJ McClenaghan
15401,WPUJC Vaas,Deccan Chargers,Delhi Daredevils,VY Mahesh

### 7. How many total runs were made by BB McCullum against Royal Challengers Bangalore?

In [50]:
runs_by_mccullum = df[(df['batsman'] == 'BB McCullum') & 
                   (df['bowling_team'] == 'Royal Challengers Bangalore')]['batsman_runs'].sum()
print("BB McCullum runs against Royal Challengers Bangalore were :", runs_by_mccullum)

BB McCullum runs against Royal Challengers Bangalore were : 569

### 8. How many unique bowlers have bowled for Mumbai Indians?

In [52]:
Mumbai_Indians_bowlers = df[df['bowling_team'] == 'Mumbai Indians']['bowler'].nunique()
print("The no.of unique bowlers have bowled for Mumbai Indians was :", Mumbai_Indians_bowlers)

The no.of unique bowlers have bowled for Mumbai Indians was : 75

### 9. What are the different types of dismissals for Sunrisers Hyderabad as the batting team?

In [55]:
types_of_dismissals = df[df['batting_team'] == 'Sunrisers Hyderabad']['dismissal_kind'].dropna().unique()
print("The different types of dismissals for Sunrisers Hyderabad as the batting team are :\n\n", types_of_dismissals)

The different types of dismissals for Sunrisers Hyderabad as the batting team are :

 ['caught' 'bowled' 'caught and bowled' 'stumped' 'lbw' 'run out'
 'hit wicket' 'retired hurt']

### 10. How many runs did Rohit Sharma score against Sunrisers Hyderabad while batting for Mumbai Indians?

In [63]:
Rohit_Sharma_runs = df[(df['batsman'] == 'RG Sharma') & 
                (df['batting_team'] == 'Mumbai Indians') & 
                (df['bowling_team'] == 'Sunrisers Hyderabad')]['batsman_runs'].sum()
print("Rohit Sharma score against Sunrisers Hyderabad while batting for Mumbai Indians :", Rohit_Sharma_runs)

Rohit Sharma score against Sunrisers Hyderabad while batting for Mumbai Indians : 218

### 11. Which batsman played the most balls?

In [66]:
most_balls_faced = df['batsman'].value_counts()
most_balls_batsman = most_balls_faced.idxmax()
print("The batsman who played the most balls is :", most_balls_batsman)

The batsman who played the most balls is : V Kohli

### 12. Which bowler bowled the most valid deliveries (excluding wides and no-balls)?

In [69]:
bowled_valid_deliveries = df[(df['wide_runs'] == 0) & (df['noball_runs'] == 0)]
bowler_counts = bowled_valid_deliveries['bowler'].value_counts()
most_valid_bowler = bowler_counts.idxmax()
print("The bowler who bowled the most valid deliveries (excluding wides and no-balls) is :", most_valid_bowler)

The bowler who bowled the most valid deliveries (excluding wides and no-balls) is : Harbhajan Singh

### 13. How many extra runs were conceded by Delhi Capitals against Mumbai Indians?

In [71]:
extra_runs_dc_against_mi = df[(df['bowling_team'] == 'Delhi Capitals') & 
                      (df['batting_team'] == 'Mumbai Indians')]['extra_runs'].sum()
print("The extra runs conceded by Delhi Capitals against Mumbai Indians were :", extra_runs_dc_against_mi,"runs")

The extra runs conceded by Delhi Capitals against Mumbai Indians were : 15 runs