In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [3]:
import numpy as np 
import os

import pandas as pd

### Q:
1. What type of data does each column in the Iris dataset contain?  
2. What are the dimensions of the Iris dataset?  
3. How many unique species of flowers are present in the dataset, and what are their names?  
4. Check if there are any NaN values in the dataset.  
5. Convert the "Id" column from int to float.  
6. What is the range of values for the `SepalLengthCm` and `PetalWidthCm`?  
7. What is the mean and median of the `PetalLengthCm` column?  
8. What does the `df.describe().T` function do, and how can it help in EDA? Interpret the output.  
9. How would you select the first five rows of the Iris dataset using `iloc`?  
10. How can you access the 'PetalLengthCm' column for rows where the species is 'Iris-setosa' using `loc`?  
11. How would you filter the dataset to include only rows where `SepalLengthCm > 5.0` and `PetalWidthCm < 1.5` using `&`?  
12. Using `loc` and `&` to select rows labeled 'Iris-versicolor' where `SepalLengthCm` is between 5.5 and 6.5.  
13. Using `loc` and `|` to filter rows labeled 'Iris-virginica' or 'Iris-setosa' with `PetalWidthCm > 2.0`.

In [4]:
df = pd.read_csv(r"C:\Users\kisho\OneDrive\Desktop\All semesters\Innomatics #405\2_EDA\Task_200825_Iris & Chipotle  Case Study\Iris.csv")
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [7]:
print(df.dtypes)

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [8]:
df.shape

(150, 6)

In [12]:
df['Species'].nunique()
df['Species'].unique()

3

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [13]:
df.isna().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [15]:
print(df['Id'].dtype)

int64

In [16]:
df['SepalLengthCm'].min()
df['SepalLengthCm'].max()

4.3

7.9

In [18]:
print(df['PetalLengthCm'].mean())
df['PetalLengthCm'].median()

3.758666666666666

4.35

In [19]:
df.describe().T

               count       mean        std  min    25%    50%     75%    max
Id             150.0  75.500000  43.445368  1.0  38.25  75.50  112.75  150.0
SepalLengthCm  150.0   5.843333   0.828066  4.3   5.10   5.80    6.40    7.9
SepalWidthCm   150.0   3.054000   0.433594  2.0   2.80   3.00    3.30    4.4
PetalLengthCm  150.0   3.758667   1.764420  1.0   1.60   4.35    5.10    6.9
PetalWidthCm   150.0   1.198667   0.763161  0.1   0.30   1.30    1.80    2.5

In [20]:
df.iloc[:5]

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [21]:
df.loc[df['Species']=='Iris-setosa', 'PetalLengthCm']

0     1.4
1     1.4
2     1.3
3     1.5
4     1.4
5     1.7
6     1.4
7     1.5
8     1.4
9     1.5
10    1.5
11    1.6
12    1.4
13    1.1
14    1.2
15    1.5
16    1.3
17    1.4
18    1.7
19    1.5
20    1.7
21    1.5
22    1.0
23    1.7
24    1.9
25    1.6
26    1.6
27    1.5
28    1.4
29    1.6
30    1.6
31    1.5
32    1.5
33    1.4
34    1.5
35    1.2
36    1.3
37    1.5
38    1.3
39    1.5
40    1.3
41    1.3
42    1.3
43    1.6
44    1.9
45    1.4
46    1.6
47    1.4
48    1.5
49    1.4
Name: PetalLengthCm, dtype: float64

In [22]:
a = df[(df['SepalLengthCm'] > 5.0) & (df['PetalWidthCm'] < 1.5)]
a

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
5,6,5.4,3.9,1.7,0.4,Iris-setosa
10,11,5.4,3.7,1.5,0.2,Iris-setosa
14,15,5.8,4.0,1.2,0.2,Iris-setosa
15,16,5.7,4.4,1.5,0.4,Iris-setosa
16,17,5.4,3.9,1.3,0.4,Iris-setosa
17,18,5.1,3.5,1.4,0.3,Iris-setosa
18,19,5.7,3.8,1.7,0.3,Iris-setosa
19,20,5.1,3.8,1.5,0.3,Iris-setosa
20,21,5.4,3.4,1.7,0.2,Iris-setosa
21,22,5.1,3.7,1.5,0.4,Iris-setosa
23,24,5.1,3.3,1.7,0.5,Iris-setosa
27,28,5.2,3.5,1.5,0.2,Iris-setosa
28,29,5.2,3.4,1.4,0.2,Iris-setosa
31,32,5.4,3.4,1.5,0.4,Iris-setosa
32,33,5.2,4.1,1.5,0.1,Iris-setosa
33,34,5.5,4.2,1.4,0.2,Iris-setosa
36,37,5.5,3.5,1.3,0.2,Iris-setosa
39,40,5.1,3.4,1.5,0.2,Iris-setosa
44,45,5.1,3.8,1.9,0.4,Iris-setosa
46,47,5.1,3.8,1.6,0.2,Iris-setosa
48,49,5.3,3.7,1.5,0.2,Iris-setosa
50,51,7.0,3.2,4.7,1.4,Iris-versicolor
53,54,5.5,2.3,4.0,1.3,Iris-versicolor
55,56,5.7,2.8,4.5,1.3,Iris-versicolor
58,59,6.6,2.9,4.6,1.3,Iris-versicolor
59,60,5.2,2.7,3.9,1.4,Iris-versicolor
62,63,6.0,2.2,4.0,1.0,Iris-versicolor
63,64,6.1,2.9,4.7,1.4,Iris-versicolor
64,65,5.6,2.9,3.6,1.3,Iris-versicolor
65,66,6.7,3.1,4.4,1.4,Iris-versicolor
67,68,5.8,2.7,4.1,1.0,Iris-versicolor
69,70,5.6,2.5,3.9,1.1,Iris-versicolor
71,72,6.1,2.8,4.0,1.3,Iris-versicolor
73,74,6.1,2.8,4.7,1.2,Iris-versicolor
74,75,6.4,2.9,4.3,1.3,Iris-versicolor
75,76,6.6,3.0,4.4,1.4,Iris-versicolor
76,77,6.8,2.8,4.8,1.4,Iris-versicolor
79,80,5.7,2.6,3.5,1.0,Iris-versicolor
80,81,5.5,2.4,3.8,1.1,Iris-versicolor
81,82,5.5,2.4,3.7,1.0,Iris-versicolor
82,83,5.8,2.7,3.9,1.2,Iris-versicolor
87,88,6.3,2.3,4.4,1.3,Iris-versicolor
88,89,5.6,3.0,4.1,1.3,Iris-versicolor
89,90,5.5,2.5,4.0,1.3,Iris-versicolor
90,91,5.5,2.6,4.4,1.2,Iris-versicolor
91,92,6.1,3.0,4.6,1.4,Iris-versicolor
92,93,5.8,2.6,4.0,1.2,Iris-versicolor
94,95,5.6,2.7,4.2,1.3,Iris-versicolor
95,96,5.7,3.0,4.2,1.2,Iris-versicolor
96,97,5.7,2.9,4.2,1.3,Iris-versicolor
97,98,6.2,2.9,4.3,1.3,Iris-versicolor
98,99,5.1,2.5,3.0,1.1,Iris-versicolor
99,100,5.7,2.8,4.1,1.3,Iris-versicolor
134,135,6.1,2.6,5.6,1.4,Iris-virginica

In [23]:
b = df.loc[(df['Species']=='Iris-versicolor') & (df['SepalLengthCm'].between(5.5, 6.5))]
b

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
51,52,6.4,3.2,4.5,1.5,Iris-versicolor
53,54,5.5,2.3,4.0,1.3,Iris-versicolor
54,55,6.5,2.8,4.6,1.5,Iris-versicolor
55,56,5.7,2.8,4.5,1.3,Iris-versicolor
56,57,6.3,3.3,4.7,1.6,Iris-versicolor
61,62,5.9,3.0,4.2,1.5,Iris-versicolor
62,63,6.0,2.2,4.0,1.0,Iris-versicolor
63,64,6.1,2.9,4.7,1.4,Iris-versicolor
64,65,5.6,2.9,3.6,1.3,Iris-versicolor
66,67,5.6,3.0,4.5,1.5,Iris-versicolor
67,68,5.8,2.7,4.1,1.0,Iris-versicolor
68,69,6.2,2.2,4.5,1.5,Iris-versicolor
69,70,5.6,2.5,3.9,1.1,Iris-versicolor
70,71,5.9,3.2,4.8,1.8,Iris-versicolor
71,72,6.1,2.8,4.0,1.3,Iris-versicolor
72,73,6.3,2.5,4.9,1.5,Iris-versicolor
73,74,6.1,2.8,4.7,1.2,Iris-versicolor
74,75,6.4,2.9,4.3,1.3,Iris-versicolor
78,79,6.0,2.9,4.5,1.5,Iris-versicolor
79,80,5.7,2.6,3.5,1.0,Iris-versicolor
80,81,5.5,2.4,3.8,1.1,Iris-versicolor
81,82,5.5,2.4,3.7,1.0,Iris-versicolor
82,83,5.8,2.7,3.9,1.2,Iris-versicolor
83,84,6.0,2.7,5.1,1.6,Iris-versicolor
85,86,6.0,3.4,4.5,1.6,Iris-versicolor
87,88,6.3,2.3,4.4,1.3,Iris-versicolor
88,89,5.6,3.0,4.1,1.3,Iris-versicolor
89,90,5.5,2.5,4.0,1.3,Iris-versicolor
90,91,5.5,2.6,4.4,1.2,Iris-versicolor
91,92,6.1,3.0,4.6,1.4,Iris-versicolor
92,93,5.8,2.6,4.0,1.2,Iris-versicolor
94,95,5.6,2.7,4.2,1.3,Iris-versicolor
95,96,5.7,3.0,4.2,1.2,Iris-versicolor
96,97,5.7,2.9,4.2,1.3,Iris-versicolor
97,98,6.2,2.9,4.3,1.3,Iris-versicolor
99,100,5.7,2.8,4.1,1.3,Iris-versicolor

In [24]:
c = df.loc[((df['Species']=='Iris-virginica') | (df['Species']=='Iris-setosa')) & (df['PetalWidthCm'] > 2.0)]
c

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
100,101,6.3,3.3,6.0,2.5,Iris-virginica
102,103,7.1,3.0,5.9,2.1,Iris-virginica
104,105,6.5,3.0,5.8,2.2,Iris-virginica
105,106,7.6,3.0,6.6,2.1,Iris-virginica
109,110,7.2,3.6,6.1,2.5,Iris-virginica
112,113,6.8,3.0,5.5,2.1,Iris-virginica
114,115,5.8,2.8,5.1,2.4,Iris-virginica
115,116,6.4,3.2,5.3,2.3,Iris-virginica
117,118,7.7,3.8,6.7,2.2,Iris-virginica
118,119,7.7,2.6,6.9,2.3,Iris-virginica
120,121,6.9,3.2,5.7,2.3,Iris-virginica
124,125,6.7,3.3,5.7,2.1,Iris-virginica
128,129,6.4,2.8,5.6,2.1,Iris-virginica
132,133,6.4,2.8,5.6,2.2,Iris-virginica
135,136,7.7,3.0,6.1,2.3,Iris-virginica
136,137,6.3,3.4,5.6,2.4,Iris-virginica
139,140,6.9,3.1,5.4,2.1,Iris-virginica
140,141,6.7,3.1,5.6,2.4,Iris-virginica
141,142,6.9,3.1,5.1,2.3,Iris-virginica
143,144,6.8,3.2,5.9,2.3,Iris-virginica
144,145,6.7,3.3,5.7,2.5,Iris-virginica
145,146,6.7,3.0,5.2,2.3,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica

### Chipotle Dataset Analysis

1. Remove the $ symbol from the item_price column and convert it to numeric data.

2. How many products cost more than $10?

3. What is the maximum price of the Chicken Bowl item?

4. Extract the unique item_name available for less than $5.

5. Identify the order_id that has placed the most orders.

6. Which is the most ordered item_name?

7. Find the minimum and maximum price in the item_price column.

8. Find the most expensive dish (item_name).

9. Calculate the total amount for orders where the item_name is Canned Soft Drink and the choice_description is Lemonade.

10. Use loc to extract all orders where the item_price is greater than $10 and belongs to the Chicken Bowl.

11. Use iloc to extract the first 10 rows of the dataset and display only order_id, item_name, and item_price.

12. Find the top 3 most ordered items.

13. Extract all unique choice_description for items costing more than $15.

14. Find the total quantity of Veggie Salad Bowl sold.

15. Find the total revenue generated for each item_name and list the top 5 unique items by revenue.

In [30]:
df = pd.read_csv(r"C:\Users\kisho\OneDrive\Desktop\All semesters\Innomatics #405\2_EDA\Task_200825_Iris & Chipotle  Case Study\chipotle.csv")
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
994,408,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",$11.25
995,409,1,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Red Chi...",$8.49
996,409,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$10.98
997,410,1,Chicken Burrito,"[Roasted Chili Corn Salsa, [Rice, Black Beans]]",$8.75
998,410,1,Canned Soft Drink,[Diet Coke],$1.25

In [31]:
df['item_price'] = df['item_price'].str.replace('$','', regex=False).astype(float)

In [32]:
df[df['item_price'] > 10].shape[0]

226

In [33]:
df.loc[df['item_name']=='Chicken Bowl', 'item_price'].max()

32.94

In [34]:
df.loc[df['item_price'] < 5, 'item_name'].unique()

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo-Green Chili Salsa', 'Side of Chips',
       'Chips and Guacamole', 'Canned Soda', 'Bottled Water',
       'Chips and Tomatillo Green Chili Salsa', 'Chips',
       'Chips and Tomatillo Red Chili Salsa',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa', 'Canned Soft Drink',
       'Chips and Tomatillo-Red Chili Salsa',
       'Chips and Mild Fresh Tomato Salsa'], dtype=object)

In [36]:
print(df['order_id'].value_counts().idxmax())

205

In [37]:
df['item_name'].value_counts().idxmax()

'Chicken Burrito'

In [39]:
df['item_price'].min()
df['item_price'].max()

1.09

32.94

In [40]:
a = df.loc[df['item_price'].idxmax(), 'item_name']
a

'Chicken Bowl'

In [42]:
b = df.loc[(df['item_name']=='Canned Soft Drink') & 
                      (df['choice_description']=='[Lemonade]'), 'item_price'].sum()

print(b)

12.5

In [43]:
c = df.loc[(df['item_name']=='Chicken Bowl') & (df['item_price'] > 10)]
c

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
42,20,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",11.25
123,54,1,Chicken Bowl,"[Fresh Tomato Salsa, [Guacamole, Cheese, Sour ...",11.25
138,62,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",11.25
140,63,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Sour Crea...",11.25
142,64,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
154,70,2,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",17.50
176,79,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",10.98
199,89,1,Chicken Bowl,"[[Roasted Chili Corn Salsa (Medium), Tomatillo...",10.98
209,93,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.25
211,93,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.25
282,124,2,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",17.50
290,126,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.25
291,127,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Sour Crea...",11.25
303,132,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.25
379,165,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.25
407,177,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",11.25
409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",32.94
411,179,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Sour Cream, Che...",11.25
415,181,2,Chicken Bowl,[Tomatillo Red Chili Salsa],17.50
454,195,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.25
483,205,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.25
490,206,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
501,210,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.25
546,227,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Pinto Beans,...",11.25
548,228,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",10.98
583,239,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",11.25
654,271,2,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",17.50
668,277,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.25
687,284,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
706,290,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Sour Crea...",11.25
719,297,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",11.25
765,316,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.25
798,328,1,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",10.98
817,338,1,Chicken Bowl,"[[Roasted Chili Corn Salsa (Medium), Fresh Tom...",10.98
844,347,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Guacamole]]",11.25
849,350,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.25
871,360,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Sour Cream,...",11.25
877,362,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.25
892,369,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Fajita Vegg...",10.98
915,379,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.25
975,400,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",11.25
976,401,2,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",17.50
993,408,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Sour Crea...",11.25
994,408,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",11.25
996,409,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",10.98

In [44]:
df.iloc[:10][['order_id','item_name','item_price']]

   order_id                              item_name  item_price
0         1           Chips and Fresh Tomato Salsa        2.39
1         1                                   Izze        3.39
2         1                       Nantucket Nectar        3.39
3         1  Chips and Tomatillo-Green Chili Salsa        2.39
4         2                           Chicken Bowl       16.98
5         3                           Chicken Bowl       10.98
6         3                          Side of Chips        1.69
7         4                          Steak Burrito       11.75
8         4                       Steak Soft Tacos        9.25
9         5                          Steak Burrito        9.25

In [45]:
df['item_name'].value_counts().head(3)

item_name
Chicken Burrito        125
Chicken Bowl           119
Chips and Guacamole    110
Name: count, dtype: int64

In [46]:
df.loc[df['item_price'] > 15, 'choice_description'].unique()

array(['[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]',
       '[Tomatillo Green Chili Salsa, [Sour Cream, Cheese, Guacamole]]',
       '[Tomatillo-Red Chili Salsa (Hot), [Rice, Cheese, Sour Cream, Lettuce]]',
       '[Tomatillo Red Chili Salsa, [Rice, Black Beans, Sour Cream, Cheese, Lettuce]]',
       '[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Lettuce]]',
       '[Fresh Tomato Salsa, [Fajita Vegetables, Pinto Beans, Guacamole]]',
       '[Tomatillo Red Chili Salsa, [Cheese, Sour Cream, Lettuce]]',
       '[Tomatillo Red Chili Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]',
       '[Tomatillo Red Chili Salsa, [Black Beans, Cheese, Guacamole]]',
       '[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream]]',
       '[Fresh Tomato Salsa, Fajita Vegetables]',
       '[Fresh Tomato (Mild), [Lettuce, Guacamole, Rice, Cheese]]',
       '[Fresh Tomato Salsa, Sour Cream]',
       '[[Fresh Tomato Salsa (Mild), Tomatillo-Green Chili Salsa (Medium), Roasted Chili Corn Salsa (Medium)], [Black Beans, Rice, Fajita Veggies, Cheese, Guacamole, Lettuce]]',
       '[Tomatillo Red Chili Salsa]',
       '[Fresh Tomato Salsa, [Sour Cream, Lettuce]]',
       '[Braised Carnitas, Pinto Beans, [Sour Cream, Cheese, Cilantro-Lime Rice]]',
       '[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]',
       '[Fresh Tomato Salsa, [Sour Cream, Lettuce, Cheese, Rice]]',
       '[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice, Cheese, Sour Cream, Lettuce]]',
       '[Tomatillo Green Chili Salsa, [Black Beans, Sour Cream, Cheese, Lettuce, Guacamole]]',
       '[Tomatillo Red Chili Salsa, [Fajita Vegetables, Black Beans, Cheese, Guacamole, Lettuce]]',
       '[Tomatillo Green Chili Salsa, [Black Beans, Cheese, Guacamole]]',
       '[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]',
       '[Fresh Tomato Salsa (Mild), [Rice, Sour Cream, Cheese, Pinto Beans]]',
       '[Fresh Tomato Salsa, [Black Beans, Cheese, Guacamole]]',
       '[Roasted Chili Corn Salsa (Medium), [Black Beans, Rice, Cheese]]'],
      dtype=object)

In [50]:
d = df.loc[df['item_name']=='Veggie Salad Bowl', 'quantity'].sum()
print(d)

5

In [53]:
df['revenue'] = df['quantity'] * df['item_price']
a = df.groupby('item_name')['revenue'].sum().sort_values(ascending=False).head(5)
a

item_name
Chicken Bowl           1384.22
Chicken Burrito        1240.74
Steak Burrito          1060.89
Chips and Guacamole     512.44
Steak Bowl              420.05
Name: revenue, dtype: float64