In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [2]:
import numpy as np 
import os

import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\kisho\OneDrive\Desktop\All semesters\Innomatics #405\2_EDA\Dataset Folder\task_060825.csv")
df

,customerID,Gender,SeniorCitizen,Partner,Dependents,Tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No,DSL,No,...,No,No,No,No,Monthly,Yes,Manual,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Manual,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Monthly,Yes,Manual,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Monthly,Yes,Manual,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Manual,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No,DSL,Yes,...,No,No,No,No,Monthly,Yes,Manual,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Monthly,Yes,Manual,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

## 1. What is the total number of customers in the dataset?

In [5]:
a = df['customerID'].nunique()
a

7043

## 2. What is the count of male and female customers?

In [7]:
b = df['Gender'].value_counts()
b

Gender
Male      3555
Female    3488
Name: count, dtype: int64

## 3. How many senior citizens are there in the dataset?

In [9]:
c = df[df['SeniorCitizen'] == 1]['customerID'].count()
print(c)

1142

## 4. What is the average MonthlyCharges by gender?

In [12]:
d = df.groupby('Gender')['MonthlyCharges'].mean()
# print(d)
d

Gender
Female    65.204243
Male      64.327482
Name: MonthlyCharges, dtype: float64

## 5. What is the average tenure of customers with OnlineBackup?

In [16]:
a = df[df['OnlineBackup'] == 'Yes']['Tenure'].mean()
print(a)

44.56525319061342

## 6. What is the average TotalCharges by Contract type?

In [19]:
b = df.groupby('Contract')['TotalCharges'].mean()
print(b)

Contract
Monthly     1369.254581
One year    3034.683084
Two year    3728.933947
Name: TotalCharges, dtype: float64

## 7. How many customers have both Partner and Dependents?

In [22]:
c = df[(df['Partner'] == 'Yes') & (df['Dependents'] == 'Yes')]['customerID'].count()
print(c)

1749

## 8. What is the churn rate by gender?

In [26]:
d = df.groupby('Gender')['Churn'].apply(lambda x: (x == 'Yes').mean() * 100)
print(d)

Gender
Female    26.920872
Male      26.160338
Name: Churn, dtype: float64

## 9. What are the MonthlyCharges statistics by InternetService type?

In [30]:
a = df.groupby('InternetService')['MonthlyCharges'].describe()
a

,count,mean,std,min,25%,50%,75%,max
InternetService,,,,,,,,
DSL,2421.0,58.102169,16.259522,23.45,46.20,56.150,69.90,94.80
Fiber optic,3096.0,91.500129,12.663039,67.75,80.55,91.675,101.15,118.75
No,1526.0,21.079194,2.164221,18.25,19.70,20.150,20.90,26.90

## 10. What is the average tenure by PaymentMethod?

In [34]:
a = df.groupby('PaymentMethod')['Tenure'].mean()
print(a)

PaymentMethod
Bank transfer (automatic)    43.656736
Credit card (automatic)      43.269382
Manual                       23.818959
Name: Tenure, dtype: float64

## 11. How many customers do not have InternetService?

In [36]:
b = df[df['InternetService'] == 'No']['customerID'].count()
print(b)

1526

## 12. What is the most common Contract type among churned customers?

In [39]:
c = df[df['Churn'] == 'Yes']['Contract'].value_counts().idxmax()
print(c)

Monthly

## 13. Compare the average TotalCharges for customers with and without TechSupport.

In [41]:
d = df.groupby('TechSupport')['TotalCharges'].mean()
print(d)

TechSupport
No     1656.094040
Yes    3818.111397
Name: TotalCharges, dtype: float64

## 14. Among non-churned customers, which services (OnlineSecurity, OnlineBackup, etc.) are most common?

In [44]:
a_non_churned_customers = df[df['Churn'] == 'No']
b_service_columns = ['OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies']
c = a_non_churned_customers[b_service_columns].apply(lambda x: (x == 'Yes').sum()).sort_values(ascending=False)

In [45]:
print(c)

StreamingMovies     1914
OnlineBackup        1906
StreamingTV         1893
DeviceProtection    1877
TechSupport         1734
OnlineSecurity      1724
dtype: int64